* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: #1f2937;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerlogo {
  margin-top: 20px;
  margin-left: 175px;
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-right: 175px;
  color: #cccfd4;
}

header {
  background-color: #1f2937;
  height: 90vh;
  display: flex;
}

.loklok {
  display: flex;
  flex-direction: column;
  margin-left: 175px;
  width: 100%;
}
.image {
  width: auto;
  height: 150px;
  margin-right: 175px;
}

#main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

#secondry {
  font-size: 24px;
  color: #e5e7eb;
}
#signup {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: auto;
}

.button {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  width: 100%;
  justify-content: end;
  width: 100%;
}


section{ margin-left: 175px;
    margin-right: 175px;
}
.boxes {
  background-color: aqua;
  height: 50px;
  width: 50px;
}

#h2 {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
}
.box{
height: 70px;
width: 80px;
border: solid #3882f6;
border-radius: 15px;}


.quote{display: flex;
flex-direction: column;

    background-color: #e5e7eb;
}
.text{
flex-direction: row;
justify-content: end;}

.sayer{display: flex;
justify-content: end;}


footer{ background-color: #1f2937;
display: flex;
justify-content: center;}