* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #1f2937;
  height: 7vh;
  display: flex;
  justify-content: space-between;
}

.headerlogo {
  color: #ffffff;
  margin-left: 175px;
  margin-top: 10px;
  font-weight: bold;
}

.links {
  color: #e5e7eb;
  display: flex;
  gap: 20px;
  margin-right: 175px;
  margin-top: 10px;
}

header {
  background-color: #1f2937;
  height: 60vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  width: 250px;
  height: auto;
  margin-right: 175px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#main {
  color: #ffffff;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 175px;
}

#secodry {
  color: #e5e7eb;
  font-size: medium;
  margin-left: 175px;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b82f6;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 175px;
}

section {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.box {
  border: solid #3b82f6;
  height: 80px;
  width: 80px;
  border-radius: 15px;
}

#h1 {
  display: flex;
  justify-content: center;
}

#margin {
  margin-right: 175px;
  margin-left: 175px;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
}

#text {
  color: #1f2937;
  margin-left: 175px;
  margin-right: 175px;
}
#sayer {
  display: flex;
  justify-content: end;
  font-weight: bold;
  color: #1f2937;
  margin-right: 175px;
}

#banner {
  background-color: #3b82f6;
  height: 150px;
  width: 700px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 175px;
  margin-right: 175px;
}

.button2 {
  border: #ffffff #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

footer {
  height: 7vh;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}
#footer {
  display: flex;
  justify-content: center;
}
